:root {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
	letter-spacing: 1.15;
	color: #202020;
	background-color: #eeedec;

	@media (min-width: 40rem) {
		line-height: 1.5;
	}
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	background: center / cover no-repeat fixed url('../smallbackground.jpg');
}

.container {
	position: relative;
	width: 100%;

	@media (min-width: 55rem) {
		width: 50rem;
		margin: 1rem auto 0;
		max-height: calc(100vh - 1rem);
		box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.07), 0 6.7px 5.3px rgba(0, 0, 0, 0.05), 0 12.5px 10px rgba(0, 0, 0, 0.042), 0 22.3px 17.9px rgba(0, 0, 0, 0.035), 0 41.8px 33.4px rgba(0, 0, 0, 0.028), 0 100px 80px rgba(0, 0, 0, 0.02);
	}
}

header {
	width: 100%;
	background: #f3f0d9;
	border-bottom: 2.5px dashed #857a5b;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.country-selector {
	width: 25rem;
	max-width: 80%;
}

input {
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	border: none;
	outline: none;

	&:focus {
		box-shadow: 0 3.3px 2.2px rgba(0, 0, 0, 0.1), 0 8px 5.3px rgba(0, 0, 0, 0.072), 0 15px 10px rgba(0, 0, 0, 0.06), 0 26.8px 17.9px rgba(0, 0, 0, 0.05), 0 50.1px 33.4px rgba(0, 0, 0, 0.04), 0 120px 80px rgba(0, 0, 0, 0.028);
	}
}

.autocomplete {
	z-index: 1;
	position: absolute;
	width: 25rem;
	max-width: 80%;
	background: #eeead0;
	box-shadow: 0 3.3px 2.2px rgba(0, 0, 0, 0.1), 0 8px 5.3px rgba(0, 0, 0, 0.072), 0 15px 10px rgba(0, 0, 0, 0.06), 0 26.8px 17.9px rgba(0, 0, 0, 0.05), 0 50.1px 33.4px rgba(0, 0, 0, 0.04), 0 120px 80px rgba(0, 0, 0, 0.028);

	&[data-hidden] {
		display: none;
	}
}

.autocomplete article {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;

	&[data-selected] {
		background: #e0ddc2;
	}

	&:hover {
		background: #d6d3b4;
		cursor: pointer;
	}
}

.autocomplete img {
	width: 1.2rem;
	margin-left: auto;
	filter: sepia(0.4);
}

main {
	display: grid;
	grid-template-columns: 1fr;
	align-content: start;
	gap: 2rem 1rem;
	width: 100%;
	height: 100%;
	max-height: calc(100vh - 4rem);
	background: #f3f0d9;
	padding: 1.5rem;
	overflow: auto;

	&::after {
		content: '';
		height: 0.5rem;
	}

	@media (min-width: 40rem) {
		grid-template-columns: 1fr 1fr;
		max-height: calc(100vh - 5rem);
		padding: 2.5rem;
	}
}

h1 {
	font-weight: 400;

	@media (min-width: 40rem) {
		grid-column-end: span 2;
	}
}

h1 span {
	font-weight: 600;
}

.data {
	display: flex;
}

.label {
	font-weight: 600;
	margin-right: 1ch;
}

.overview {
	font-size: 1.1rem;
}

.overview .label {
	flex: 0 0 14ch;
}

.overview div span {
	display: block;
}

img {
	width: 100%;
	filter: sepia(0.4);
}

.region {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0rem 1rem;

	@media (min-width: 40rem) {
		grid-column-end: span 2;
		grid-template-columns: 1fr 1fr;
	}
}

.region h2 {
	@media (min-width: 40rem) {
		grid-column-end: span 2;
	}
}

.region .subtitle {
	font-size: 1.25rem;
}

.countryLocation {
	width: 100%;
	height: 15rem;
	filter: sepia(0.25);

	@media (min-width: 40rem) {
		grid-column-end: span 2;
		height: 25rem;
	}
}

.blocs span,
.neighbors article {
	margin-left: 4ch;
	display: block;
}

.neighbors article img {
	display: inline;
	height: 1.5ex;
	width: auto;
	vertical-align: baseline;
	margin-left: 1ch;
	filter: sepia(0.4);
}
